button {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

td {
    color: blue;
}

.login-kontener {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

input {
  padding: 5px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}