/* .home-kontener {
    background-image: url(../public/images/nato.jpg);
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    background-position-y: 50px;
    background-size: 50vw 90vh;
} */

.home-kontener h1 {
    color: rgb(108, 80, 233);
    text-shadow: 4px 4px  black;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    background: none;
    padding-top: 300px;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 800px) {
    .home-kontener {
        background-image: url(../public/images/nato.jpg);
        background-repeat: no-repeat;
        background-position: fixed;
        width: 50vw;
        height: 45vh;
        justify-content: center;
        text-align: center;
        position: fixed;
    }
    
}