tagorszagok-kontener {
    background-image: url('../public/images/tagorszagok.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

home-kontener h1 {
    color: 2px solid black;
}

@media screen and (min-width: 600px) {
  body {
    background-color: white;
  }
}
@media screen and (max-width: 1200px) {
  body {
    background-color: white;
  }
}